{% if site.utterances.repository and site.utterances.issue-term  %}

<script>
  (function() {
    var theme = localStorage.getItem("theme") === "dark" ? "photon-dark" : "{{ site.utterances.theme}}";
    var script = document.createElement("script");
    script.src = "https://utteranc.es/client.js";
    script.setAttribute("repo", "{{ site.utterances.repository }}");
    script.setAttribute("issue-term", "{{ site.utterances.issue-term }}");
    script.setAttribute("theme", theme);
    script.setAttribute("label", "{{ site.utterances.label}}");
    script.setAttribute("crossorigin", "anonymous");
    script.async = true;
    document.currentScript.parentNode.insertBefore(script, document.currentScript.nextSibling);
  })();
</script>

{% endif %}

